.tutor-container {
    width: 36rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 0.188rem 1.550rem rgb(156, 156, 156, 0.3);
    border-radius: 1rem;
    padding: 1rem;
    cursor: help;
    overflow-wrap: break-word;
}

.container-top {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: help;
}

.profile-name {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.profile-name img {
    width: 7rem;
}

.profile-name p {
    font-size: 2rem;
    font-weight: 700;
}

.tutor-container button {
    display: flex;
    height: 35px;
    padding-left: 1rem;
    padding-right: 1rem;
    background: #00867D;
    color: #fff;
    cursor: pointer;
    align-items: center;
    outline: none;
    border-radius: 5px;
    border: none;
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
    font-size: 1.5rem;
}

.container-bottom {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 1rem;;
}

.tutor-container-rr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
    margin: 0 auto;
    gap: 10rem;
}

.tutor-container-rating p {
    font-size: 2rem;
    font-weight: 700;

    display: flex;
    align-items: center;
    
    gap: 1.5rem;

    color: #00867D;
}

.tutor-container-reviews p {
    font-size: 2rem;
    font-weight: 700;

    display: flex;
    align-items: center;

    gap: 1.5rem;

    color: #C0C0C0;
}

.tutor-container-subject {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.tutor-container-subject label {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
}

.tutor-container-subject p{
    font-size: 1.7rem;
    font-weight: 700;

    color: #c0c0c0;
}

/* for tutor request and schedule page */

 .tutor-requests, .tutor-schedule {
     width: 36rem;
     display: flex;
     align-items: start;
     flex-direction: column;
     background: #fff;
     margin: 0 auto;
     box-shadow: 0 0.188rem 1.550rem rgb(156, 156, 156, 0.3);
     border-radius: 1rem;
     padding: 1rem;
 }

 .tutor-requests-profile-name, .tutor-schedule-profile-name {
     display: flex;
     align-items: center;
     flex-direction: row;
     gap: 1rem;
    word-break: break-word;
 }

 .tutor-requests-profile-name img, .tutor-schedule-profile-name img {
     width: 7rem;
 }

 .tutor-requests-profile-name p, .tutor-schedule-profile-name p {
     font-size: 2rem;
     font-weight: 700;
 }

 .tutor-requests-subject label, .tutor-requests-msg label,
 .tutor-schedule-subject label, .tutor-schedule-msg label {
     color: #000;
     font-size: 2rem;
     font-weight: 700;
     padding-left: 1rem;
 }

 .tutor-requests-subject p, .tutor-requests-msg p,
  .tutor-schedule-subject p,
  .tutor-schedule-msg p {
     font-size: 1.7rem;
     font-weight: 700;
     padding-left: 1rem;
     padding-right: 0.2rem;

     color: #c0c0c0;
 }

 .tutor-requests-buttons, .tutor-schedule-buttons {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     width: 100%;
     padding: 1rem;
     gap: 2rem;
 }

 .tutor-requests-buttons button, .tutor-schedule-buttons button {
     display: flex;
     height: 35px;
     width: 40%;
     justify-content: center;
     cursor: pointer;
     align-items: center;
     outline: none;
     border-radius: 5px;
     border: none;

     font-family: 'Nunito';
     font-style: normal;
     font-weight: 700;
     line-height: 1rem;
     font-size: 1.5rem;
 }

#tutor-accept {
    background: #00867D;
    color: #fff;
}

#tutor-decline {
    background: #F2F2F2;
    color: #00867D;
}


