.selection-button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 2rem;
}

.selection-button .buttons {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection-button p {
    font-weight: 700;
    font-size: 1.8rem;
    padding-bottom: 0.5rem;
}

.selection-button .buttons button {
    flex-direction: row;

    border-radius: 5px;
    height: 40px;
    width: 100%;
    padding: 0.5rem;

    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1rem;
    text-align: center;

    cursor: pointer;
}

#leftBtn {
    margin-right: 20px;
}

.selected {
    color: #fff;
    background-color: #00867d;
    border: 1px solid #00867d;
}

.notSelected {
    color: #00867d;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}